html, body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
    margin: 0;
    padding: 0;
    height: 100%;
}

.page {
    background-color: #3c5d76;
    color: #E2E2E2;
    position: relative;
    min-height: 100vh;
}

main {
    padding: 30px;
    display: flex;
    padding-bottom: 80px;
}

.nav {
    justify-content: flex-end;
    background-color: #54242c;
}

.nav-link {
    color: #5e7c94 !important;
    font-size: 20px !important;
}

.active {
    text-decoration: underline !important;
}

.header {
    font-size: 75px;
    background-color: #54242c;
    color: #5e7c94;
    padding: 0 0 0px 30px;
    font-weight: bolder;
}

.footer {
    background-color: #54242c;
    color: #1C0F13;
    height: 60px;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.profile {
    height: 450px;
    border-radius: 5%;
}

.about {
    width: 50%;
    float: right;
}

.github img, .linkedin img {
    height: 40px;
    position: relative;
    bottom: -10px;
    transition: opacity 0.2s ease-out;
}

.github img:hover, .linkedin img:hover{
    opacity: .5;
}

.github, .linkedin {
    margin: 0 10px;
}


.portfolio-title {
    text-align: center;
}

.portfolio {
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.image-container {
    height: 200px;
    width: 375px;
    display: block;
    border: 2px solid #54242c;
    border-radius: 10px;
    transition: opacity 0.3s ease-out;
}

.image-container:hover {
    opacity: .5;
}

.projects h3 {
    margin-top: 10px;
}
.github-link {
    height: 25px;
}

.contactForm {
    width: 550px;
}

.error {
    color: #54242c;
    font-weight: bolder;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #54242c;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical 
}

input[type=submit] {
    background-color: #54242c;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

@media only screen and (max-width: 775px) {
    .nav {
        justify-content: center;
    }

    .header {
        font-size: 50px;
        text-align: center;
        margin: 0px;
        padding: 0px;
    }

    .profile, .about {
        height: auto;
        width: 100%; 
    }

    .contactForm {
        width: 200px;
    }
}
